include README.md
include CHANGES.rst
include MANIFEST.in
include LICENSE
include setup.py
recursive-include transcribe_aws *.py
recursive-include py.requirements  *.txt

prune .venv*
prune **/__pycache__